/**
 * @name CRT Effect
 * @author Bates
 * @version 4.0.0
 * @source https://github.com/B4T3S/Fallout4TerminalTheme/blob/main/src/crtEffect.scss
 * @website https://B4T3S.github.io/Fallout4TerminalTheme
 * @donate https://www.paypal.com/paypalme/floriancegledi
 * @patreon https://patreon.com/bates
 * @description A theme applying the CRT effect from the Fallout 4 Terminal theme!
 * @authorId 137259132305539072
 * @invite 6qd3SkP6Ch
*/

@import url("https://B4T3S.github.io/Fallout4TerminalTheme/css/crtEffect.css");
