name: Update Classes

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
  repository_dispatch:
    types: [update_class]

jobs:
  update_classes:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          persist-credentials: false
      - id: update
        uses: metro420yt/class-update@v1-rc3
        with:
          folder: themes
          ext: css
          diff: "https://raw.githubusercontent.com/SyndiShanX/Update-Classes/main/Changes.txt"
      - if: ${{steps.update.outputs.totalChanges > 0}}
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
      - if: ${{steps.update.outputs.totalChanges > 0}}
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions"
          git add .
          git commit -m "chore: update classes"
          git push
